#header {
    width: auto;
    height: 100px;
    background-color: #6495ed;
}

h1 {
    margin-top: 8px;
}

#form {
    display: flex;
    flex-direction: column;
}

#area_ {
    width: auto;
    height: 500px;
}

#btn_ {
    width: 50px;
    height: auto;
}

#footer {
    width: auto;
    height: 80px;
    background-color: #6495ed;
}

#footer-list {
    list-style: none;
}

a {
    color: black;
}
